.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.header > .title {
  font-size: 25px;
  flex: 1;
  text-align: center;
}

.header > .leftchild {
  width: 25%;
}

.header > .rightchild {
  width: 25%;
  text-align: right;
}